.header{
    display : flex;
    border: 1px solid black;
    justify-content: space-between;
}
.logo > img {
    width: 150px;
}   
.header > ul{
    display : flex;
    list-style: none;
}
.header > ul > li {
    padding:30px 30px;
    cursor:pointer;      
}
button :hover{
    cursor:pointer;
    color:red;
}
.header > ul > li>button{
    font-size: 30px;
    color:#D41414;
    background-color: black;
}
/* .container{
    border:1px solid black; 
} */
.RestaurantContainer{
    display:flex;
    flex-wrap: wrap;
}
.CardContainer{
    color:#E19B8B;
    height: 380px;
    width: 150px;
    margin: 5px;
    padding: 10px;
}
.CardContainer:hover{
    cursor: pointer;
    border:2px solid black;
}
.CardContainer > img{
    height:100px;
    width:100%;
}
.filter-btn{
    margin:10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    background-color: #310A69;
    height: 380px;
    width: 150px;
    margin: 5px;
    padding: 10px;
}